<div class="settings-notifications">
    <div class="settings-notifications__container">
        <div class="settings-notifications__header">
            <h1 class="settings-notifications__title">Уведомления</h1>
        </div>
        <div class="settings-notifications__content">
            <div class="settings-notifications__message">
                <p>Раздел находится в разработке</p>
            </div>
        </div>
    </div>
</div>
