<div class="settings-privacy">
    <div class="settings-privacy__container">
        <div class="settings-privacy__header">
            <h1 class="settings-privacy__title">Конфиденциальность</h1>
            <p class="settings-privacy__subtitle">Черный список, Личные сообщения</p>
        </div>
        <div class="settings-privacy__content">
            <div class="settings-privacy__message">
                <p>Раздел находится в разработке</p>
            </div>
        </div>
    </div>
</div>
