.popUp-menu {
  background-color: var(--section-color);
  border: 1px solid var(--accent-color);
  border-radius: 10px;
  padding: 20px;
  width: 310px;
  color: var(--text-color);
  font-size: 16px;
  position: fixed;
  z-index: 1000;
  max-height: 80vh;
  overflow-y: auto;

  .user-menu {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;

    &__avatar {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      overflow: hidden;
    }

    &__info {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }

    &__subtitle {
      font-size: var(--text-xs);
      color: var(--accent-color);
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .menu-item {
    width: 100%;
    justify-content: flex-start;
    padding: 10px 20px;
  }
}