.popUp-menu {
    background-color: var(--section-color);
    border: 1px solid var(--accent-color);
    border-radius: 10px;
    padding: 20px;
    width: 310px;
    color: var(--text-color);
    font-size: 16px;
}

.popUp-menu .user-menu {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
}

.popUp-menu .user-menu__avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
}

.popUp-menu .user-menu__info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.popUp-menu .user-menu__subtitle {
    font-size: var(--text-xs);
    color: var(--accent-color); 
}

.popUp-menu__items {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.popUp-menu .menu-item {
    width: 100%;
    justify-content: flex-start;
    padding: 10px 20px;
}