.tag {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  background: var(--section-hover);
  color: var(--text-color);
  border-radius: 15px;
  font-size: var(--text-base);
  cursor: pointer;
  transition: all 0.2s ease;
  border: 1px solid var(--section-hover);

  &:hover {
    border: 1px solid var(--text-lighter);
  }

  &__icon {
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__count {
    font-weight: var(--font-weight-medium);
  }

  &[data-key="add-tag"] {
    justify-content: center;
    align-items: center;
    gap: 0;
  }
}

.post-card__footer {
  .tag {
    background: none;
    border: none;
  }
}