<aside class="sidebar-menu">
    <div class="sidebar-menu__items">
        {{#each menuItems}}
            {{> menu-item key=this.key icon=this.icon text=this.text}}
        {{/each}}
    </div>
</aside>
