<aside class="top-bloggers">
    <h3 class="top-bloggers__title">Топ блогов</h3>

    <div class="top-bloggers__list">
        {{#each bloggers}}
            <div class="top-bloggers__item">
                {{> user-menu 
                    name=this.name 
                    subtitle=this.subtitle 
                    avatar=this.avatar 
                    isSubscribed=false
                    hideSubscribeButton=true
                }}
            </div>
        {{/each}}
    </div>
</aside>