.form__input {
    display: block;
    width: 100%;
    padding: 11px 16px;
    background: var(--bg-color);
    border: 1px solid var(--section-hover);
    border-radius: 10px;
    color: var(--text-color);
    font-size: var(--text-base);
    outline: none;
    box-sizing: border-box;
}

.form__input::placeholder {
    color: var(--text-lighter)
}