<div class="delete-account-modal">
    <div class="delete-account-modal__content">
        <h3 class="delete-account-modal__title">Удаление аккаунта</h3>
        <p class="delete-account-modal__message">
            Аккаунт будет удален без возможности восстановления. Вы уверены, что хотите удалить аккаунт?
        </p>
        <div class="delete-account-modal__actions">
            <button class="delete-account-modal__cancel" type="button">
                Отмена
            </button>
            <button class="delete-account-modal__delete" type="button">
                Удалить
            </button>
        </div>
    </div>
</div>