<button class="menu-item" data-key="{{this.key}}">
    <div class="menu-item__icon" style="background-image: url('{{this.icon}}');"></div>
    <span class="menu-item__text">{{this.text}}</span>
</button>