<button class="menu-item {{#if extraClass}}{{extraClass}}{{/if}}" data-key="{{this.key}}">
    {{#if icon}}
        <div class="menu-item__icon" style="background-image: url('{{this.icon}}');"></div>
    {{/if}}
    <span class="menu-item__text">{{this.text}}</span>
</button>