.user-list {
    background-color: var(--section-color);
    border-radius: 10px;
    padding: 20px;
    width: 310px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
}

.user-list__title {
    font-size: var(--text-xl);
    color: var(--text-color);
    margin-top: 0;
    margin-bottom: 20px;
}

.user-list__list {
    display: flex;
    flex-direction: column;
}

.user-list__item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.user-list .user-menu {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.user-list .user-menu__subtitle {
    color: var(--accent-color);
}
