.form__button {
  display: inline-flex;
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  background: var(--primary-color);
  color: var(--text-color);
  font-size: var(--text-lg);
  font-weight: var(--font-weight-regular);
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    background: var(--primary-hover);
  }

  &:active {
    background: var(--primary-active);
  }

  &:disabled {
    background: var(--primary-disabled);
    cursor: not-allowed;
  }
}