<div class="settings-main">
    <div class="settings-main__container">
        <div class="settings-main__title-wrapper">
            <h1 class="settings-main__title">Настройки</h1>
            <span class="settings-main__title-line"></span>
        </div>
        
        <div class="settings-main__nav">
            <div class="settings-main__nav-item" data-route="/settings/account">
                <div class="settings-main__nav-content">
                    <h3 class="settings-main__nav-title">Учетная запись</h3>
                    <p class="settings-main__nav-description">Сведения, Изменение данных, Удаление аккаунта</p>
                </div>
                {{> icon key="arrow-down" src="/img/icons/arrow_right.svg" title="Развернуть" class="settings-main__nav-arroww" }}
            </div>
            
            <div class="settings-main__nav-item" data-route="/settings/notifications">
                <div class="settings-main__nav-content">
                    <h3 class="settings-main__nav-title">Уведомления</h3>
                    <p class="settings-main__nav-description">Уведомления на сайте и на почте</p>
                </div>
                {{> icon key="arrow-down" src="/img/icons/arrow_right.svg" title="Развернуть" class="settings-main__nav-arroww" }}
            </div>
            
            <div class="settings-main__nav-item" data-route="/settings/privacy">
                <div class="settings-main__nav-content">
                    <h3 class="settings-main__nav-title">Конфиденциальность</h3>
                    <p class="settings-main__nav-description">Черный список, Личные сообщения</p>
                </div>
                {{> icon key="arrow-down" src="/img/icons/arrow_right.svg" title="Развернуть" class="settings-main__nav-arroww" }}
            </div>
        </div>
    </div>
</div>
