.settings-main {
  background-color: var(--bg-color);
  min-height: calc(100vh - 120px);
  width: 100%;

  &__container {
    max-width: 800px;
    margin: 0 auto;
  }

  &__title {
    font-size: var(--text-2xl);
    font-weight: var(--font-weight-medium);
    color: var(--text-color);
    margin: 0px;
  }

  &__title-line {
    flex-grow: 1;
    height: 1px;
    background-color: var(--text-lighter);
    max-width: calc(100% - 20px);
  }

  &__title-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--section-color);
    padding: 20px;
    border-radius: 10px;
  }

  &__nav-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--section-color);
    border-radius: 10px;
    padding: 8px 0 8px 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 1px solid var(--section-color);

    &:hover {
      background-color: var(--primary-light);
      border: 1px solid var(--section-hover);
    }
  }

  &__nav-content {
    flex: 1;
  }

  &__nav-title {
    font-size: 16px;
    font-weight: var(--font-weight-medium);
    color: var(--text-color);
    margin: 0 0 2px 0;
  }

  &__nav-description {
    font-size: 12px;
    color: var(--text-lighter);
    margin: 0;
  }
}