.settings-main {
    background-color: var(--bg-color);
    min-height: calc(100vh - 120px);
    width: 100%;
}

.settings-main__container {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
}

.settings-main__title {
    font-size: var(--text-2xl);
    font-weight: var(--font-weight-medium);
    color: var(--text-color);
    margin-bottom: 20px;
}

.settings-main__nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--section-color);
    padding: 20px;
    border-radius: 10px;
}

.settings-main__nav-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--section-color);
    border-radius: 10px;
    padding: 8px 0px 8px 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 1px solid var(--section-color);
}

.settings-main__nav-item:hover {
    background-color: var(--primary-light);
    border: 1px solid var(--section-hover);
}

.settings-main__nav-content {
    flex: 1;
}

.settings-main__nav-title {
    font-size:  16px;
    font-weight: var(--font-weight-medium);
    color: var(--text-color);
    margin: 0 0 2px 0;
}

.settings-main__nav-description {
    font-size: 12px;
    color: var(--text-lighter);
    margin: 0;
}

