.post-card {
    background: var(--section-color);
    border-radius: 10px;
    padding: 20px;
    color: var(--text-color);
    margin: 0 auto 20px auto;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    position: relative;
}

.post_header {
    display: flex;
    justify-content: space-between;
}

.post-card__title {
    font-size: var(--text-xl);
    font-weight: var(--font-weight-semi-bold);
    margin-top: 20px;
}

.post-card__text {
    font-size: var(--text-base);
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    max-width: 100%;
    margin-bottom: 0 0 10px 0;
    font-size: var(--text-base);
}

.post-card__link {
    color: var(--accent-color);
    text-decoration: none;
}

.post-card__link:hover {
    text-decoration: underline;
}

.post-card__image-container {
    overflow: hidden;
    border-radius: 8px;
}

.post-card__image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
    margin-bottom: 10px;
}

.post-card__tags {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.post-card__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.left-side-footer {
    display: flex;
    gap: 20px;
}

.post-card__toggle-text {
    font-size: var(--text-base);
    color: var(--accent-color);
    cursor: pointer;
}

.post-card__menu-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 6px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-card__menu-icon circle {
    fill: var(--text-color);
    transition: fill 0.2s ease;
}

.post-card__menu-button:hover .post-card__menu-icon circle,
.post-card__menu-button:active .post-card__menu-icon circle {
    fill: var(--accent-color);
}

.post-card-menu {
    width: 200px;
    border: 1px solid var(--section-hover);
    background-color: var(--section-color);
    border-radius: 10px;
    padding: 30px;
    position: absolute;
    top: 60px;
    right: 30px;
    transition: opacity 0.2s ease, visibility 0.2s ease, transform 0.2s ease;
    z-index: 1000;
    visibility: hidden;
}

.post-card-menu--open {
    opacity: 1;
    visibility: visible;
}

.post-card-menu__items {
    display: flex;
    flex-direction: column;
    gap: 15px;
    cursor: pointer;
    color: var(--text-lighter);
}

.post-card-menu__item:hover,
.post-card-menu__item:active {
    color: var(--text-color);
}
