<div class="delete-post-modal">
    <div class="delete-post-modal__content">
        <h3 class="delete-post-modal__title">Удаление поста</h3>
        <p class="delete-post-modal__message">
            Пост будет удален без возможности восстановления. Вы уверены, что хотите удалить пост?
        </p>
        <div class="delete-post-modal__actions">
            <button class="delete-post-modal__cancel" type="button">
                Отмена
            </button>
            <button class="delete-post-modal__delete" type="button">
                Удалить
            </button>
        </div>
    </div>
</div>