<div class="header">
    <a class="header__logo" data-key="logo">
        <img src="/img/LogoMain.svg" alt="Логотип" class="header__logo-img" />
        <span>MindLeak</span>
    </a>

    <div class="header__center">
        {{> input type="search" placeholder="Поиск" name="search" class="header__search"}}
    </div>

    <div class="header__right">
    {{#if isLoggedIn}}
        {{> button 
            text="Создать" 
            key="createPost" 
            type="button" 
            class="header__button createPost_button"
        }}
        
        <div class="header__user" data-key="user-menu">
            <img 
                src="{{user.avatar}}" 
                alt="{{user.name}}" 
                class="header__avatar"
                onerror="this.src='/img/defaultAvatar.jpg'">
            {{> icon key="arrow-down" src="/img/icons/arrowDown_icon.svg" title="Развернуть" class="header__arrow" }}
        </div>
        {{else}}
            {{> button 
                text="Создать" 
                key="createPost" 
                type="button" 
                class="header__button createPost_button" 
            }}
            {{> button 
                text="Войти" 
                key="login" 
                type="button" 
                class="header__button"
            }}
        {{/if}}
    </div>
</div>
