.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.header__logo {
    font-size: var(--text-3xl);
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    min-width: 260px;
}

.header__center {
    flex: 1;
    max-width: 700px;
}

.header__right {
    display: flex;
    gap: 10px;
}

.header__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.header__arrow {
    display: flex;
    align-items: center;
}

.createPost_button {
    background-color: var(--section-color);
    border: 1px solid var(--section-hover);
}