.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    background-color: var(--bg-color);
}

.header__logo {
    font-size: var(--text-3xl);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    cursor: pointer;
}

.header__center {
    flex: 1;
    max-width: 400px;
    margin: 0 20px;
}

.header__right {
    display: flex;
    gap: 10px;
}

.header__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.header__arrow {
    display: flex;
    align-items: center;
}
