.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;

  &__logo {
    font-size: var(--text-3xl);
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    min-width: 260px;
    margin-left: 40px;
  }

  &__center {
    position: absolute;
    width: 700px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 40px;
  }

  &__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon,
  &__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__button {
    background-color: var(--section-color);
    border: 1px solid var(--section-hover);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__search {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    position: relative;
  }
}

.user_info_header {
  display: flex;
  align-items: center;
  gap: 5px;
}